//
//  Project Base.xcconfig
//  KTUIKit
//
//  Created by Jonathan on 17/12/2010.
//  Copyright 2010 Sofa. All rights reserved.
//

ARCHS = $(ARCHS_STANDARD_32_BIT)
VALID_ARCHS = i386 x86_64

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = YES

PREBINDING = NO

//GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_VERSION = com.apple.compilers.llvmgcc42

GCC_ENABLE_OBJC_GC = supported
GCC_C_LANGUAGE_STANDARD = c99

GCC_WARN_ABOUT_RETURN_TYPE = YES
//GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
//GCC_WARN_SHADOW = YES
//GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
//GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
//GCC_WARN_PROTOTYPE_CONVERSION = YES
//GCC_WARN_SIGN_COMPARE = YES
//GCC_WARN_STRICT_SELECTOR_MATCH = YES
//GCC_WARN_UNDECLARED_SELECTOR = YES
//GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES

GCC_MODEL_TUNING = G5

DEPLOYMENT_LOCATION = NO // We want all frameworks to be in their own build directories. When this, and |SKIP_INSTALL| are |YES|, the build product is placed in |(BUILD_DIR)/Uninstalled Products|. Therefore, without clean building, any existing build in that folder will be used, whether it is the correct configuration or not.
SKIP_INSTALL = NO // This only has an effect when |DEPLOYMENT_LOCATION = YES|
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO

COMPANY_REVERSE_DOMAIN_NAME_PREFIX = com.madebysofa
DOXYGEN_PATH = ${DEVELOPER_DIR}/Applications/Doxygen.app/Contents/Resources/doxygen
//SCRIPTS_DIRECTORY = $(SOURCE_ROOT)/Scripts
//UNIT_TESTS_DIR = $(SOURCE_ROOT)/Source/Unit Tests
