//
//  Release.xcconfig
//  KTUIKit
//
//  Created by Jonathan on 17/12/2010.
//  Copyright 2010 Sofa. All rights reserved.
//
#include "Project Base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = NS_BLOCK_ASSERTIONS NS_BUILD_32_LIKE_64

DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
