//
//  KTUIKit.xcconfig
//  KTUIKit
//
//  Created by Jonathan on 14/02/2011.
//  Copyright 2011 Sofa. All rights reserved.
//

INSTALL_PATH = @rpath
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/KTUIKitFramework-Info.plist
PRODUCT_NAME = KTUIKit

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SRCROOT)/Other Sources/KTUIKit_Prefix.pch

